@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.header {
  overflow: hidden;
  background-color: #6633FF;
  padding: 10px;
}

.header a {
  float: left;
  color: #eee;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header span {
  float: left;
  color: #eee;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.header a.logo {
  font-size: 25px;
  font-weight: 700;
}

.header .headerRight{
  float: right;
}

.header .sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideBar .deleteBtn {
  float: right;
}
.sideBar .deleteBtn  svg{
  width: 20px;
  height: 20px;
}

.header .sideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



.header .sideBar span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.header .sideBar a:hover {
  color: black;
  font-weight: 700;
}

.header .sideIcon {
  display: none;
}

.header .sideIcon svg {
  max-width: 20px;
  height: 20px;
}


.home {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 500px 100px;
  gap: 5%;
}

@media screen and (min-width:800px) and (max-width:900px) {
  .home {
    margin: 20px;
    display: grid;
    grid-template-columns: 350px 250px;
    gap: auto;
  }
}

@media screen and (max-width:768px) and (min-width:600px){
  .home {
    margin: 20px;
    display: grid;
    grid-template-columns: 350px 250px;
    gap:1%;
  }
}

@media screen and (max-width: 600px) {
  .header .headerRight{
   display: none;
  }

  .header .sideIcon {
    position: absolute;
    display: inline;
    right: 0;
    top: 20px;
  }

  .home {
    display: block;
    margin: 20px auto; 
  }

}

 .create .selected{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  width: 280px;
  height: 95px;
  overflow-y: scroll;
  margin-top: 50px;
  border: 1px solid black; 
 }

 .create select:focus{
    border: 5px solid lightblue;
 }


.upItem .addIngredient {
  padding:10px;
  font-size:15px;
  font-weight:bold;
  background-color:forestgreen;
  color:#eee;
  border:none; 
  cursor:pointer; 
}
.upItem .addIngredient:hover {
  background-color :white;
  color:forestgreen;
  border: 1px solid black; 
}

.create .addbtn {
  margin-top: 10%;
  padding: 10px 10px; 
  font-size: 20px;
  font-weight: bold; 
  background-color:darkblue;
  color:pink;
  border: none; 
  cursor: pointer;
}

.create .addbtn:hover{
  background-color: pink;
  color:darkblue;
}

.generalSpan{
  height: 20px;
  width: 50px;
  font-size: 15px; 
  border: 1px solid gray;
  padding: 5px;
  margin: 2px;
  text-align: center;
}

.hugSpan{
  width: auto;
  height: 50px;
  font-size: 15px; 
  border: 1px solid white;
  padding: 1px;
  margin: 1px;
  text-align: center;
  background-color: #eee;

}

.signBtn {
  background-color: violet;
  color:#eee;
  font-size: 20px;
  font-weight: bold;
  border:none;
  cursor: pointer;
}

.allMenu {
  width: 300px; 
  height: 250px; 
  border: 1px solid #eee;
  overflow-y: scroll;
}

.allMenu .title {
  font-size: 30px; 
  color: blue;
  font-weight: bolder ;
  display: flex;
  justify-content: center;
}

.allMenu .itemColumn {
  cursor: pointer;
  display: grid;
  text-align: center;
}

.allMenu .itemColumn:hover{
  background-color: #eee;
}

.allMenu .itemColumn .link {
  text-decoration: none;
}


.post-details {
  display: flex;
  justify-content: center;
}

.post-details div {
  margin: 10px 0;
}

.post-details .price {
  font-size: 20px;
}

.post-details .ingredients {
  display: block;
  font-size: 20px;
  width: 300px;
  height: auto;
}

.post-details .ingredients .ingredientsName {
  font-size: 25px;
  font-weight: bold;
}

.post-details .ingredients .itemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.post-details .ingredients .item {
  font-size: 18px;
  border: 1px solid black;
  text-align: center; 
}

.post-details .priceColumn {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.post-details .priceColumn .price {
  margin:auto;
}

.post-details .deleteBtn {
  padding: 10px; 
  font-size: 17px; 
  background-color: #DC143C; 
  color: #eee; 
  border: none;
  font-weight: bold;
}

.post-details .deleteBtn:hover {
  background-color: #eee;
  color: #DC143C;
}

.post-details .backBtn {
  margin-left: 25px;
  font-weight: 700;
}

.hotList{
  display: block;
  width: 300px;
  height: auto;
  border: 1px solid #eee;
  padding: 10px 0;
}

.hotList .hotTitle {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: palevioletred;
}

.hotList .dishList {
  display: grid;
  text-align: center;
  font-size: 18px;
}

.hotList .dishList .link {
  text-decoration: none;
  margin: 5px 0px;
}

.hotList .dishList .link:hover {
  background-color: #eee;
  font-weight: 500;
}
